@import url(./assets/fonts/montserrat/main.css);

:root {
    --pf-global--primary-color--100: #92c255;
    --pf-global--primary-color--200: #78a43e;
    --pf-global--primary-color--dark-100: #195335;
    --pf-global--secondary-color--100: #5f5e5e;
    --pf-global--primary-color--light-100: #b0d680;
    --pf-global--BackgroundColor--light-100: #fff;
    --pf-global--BackgroundColor--light-200: #faf7f6;
    --pf-global--BackgroundColor--light-300: #f8f5f4;

    --pf-global--BorderRadius--sm: 6px;
    --pf-global--BorderRadius--md: 12px;
    --pf-global--BorderRadius--lg: 40em;

    --pf-c-form-control--BorderRadius: var(--pf-global--BorderRadius--sm) !important;
    --pf-c-button--m-control--BorderRadius: var(--pf-global--BorderRadius--sm) !important;
}

body.kcBodyClass,
.login-pf body {
    background: var(--pf-global--BackgroundColor--light-300);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#kc-page-title {
    font-weight: 700;
}

#kc-info-wrapper {
    background-color: var(--pf-global--BackgroundColor--light-200);
}

.card-pf {
    border-radius: var(--pf-global--BorderRadius--md);
    border: none;
}

button#kc-current-locale-link::after {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
    display: inline-block;
    height: 8px;
    width: 8px;
}

.btn-group-lg > .btn,
.btn-lg {
    border-radius: var(--pf-global--BorderRadius--sm);
}
